* {
  margin: 0px;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

#header {
  text-align: center;
}

#footer {
  text-align: end;
}

#center-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
