* {
  margin: 0px;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

#header,
#footer {
  padding: 10px;
}

#header {
  text-align: center;
}

#footer {
  text-align: end;
  padding-bottom: 1px;
}

#center-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score-container {
  flex-grow: 1;
}

#player-side,
#computer-side {
  display: flex;
  gap: 50px;
}

#left-container,
#right-container {
  display: flex;
  flex-grow: 1;
  font-size: 36px;
}

#left-container {
  justify-content: start;
}

#right-container {
  justify-content: end;
}

img {
  height: 200px;
}
